# **Rest-Mex**
## *Notebook Exploratorio*: Train-Set
---

### **Librerias**

In [1]:
# Librerias necesarias

import pandas as pd

### **Estructura del DataSet**

In [8]:
# Ruta del train dataset
train_path = '../data/train/Rest-Mex_2025_train.csv'

# Leemos el CSV y guardamos en un df 
df_train = pd.read_csv(train_path)

# Mostramos las primeras filas del df
df_train.head()

,Title,Review,Polarity,Town,Region,Type
0,Mi Lugar Favorito!!!!,Excelente lugar para comer y pasar una buena n...,5.0,Sayulita,Nayarit,Restaurant
1,lugares interesantes para visitar,"andar mucho, así que un poco difícil para pers...",4.0,Tulum,QuintanaRoo,Attractive
2,No es el mismo Dreams,"Es nuestra cuarta visita a Dreams Tulum, elegi...",3.0,Tulum,QuintanaRoo,Hotel
3,un buen panorama cerca de CancÃºn,"Estando en CancÃºn, fuimos al puerto y tomamos...",4.0,Isla_Mujeres,QuintanaRoo,Attractive
4,El mejor,Es un lugar antiguo y por eso me encanto tiene...,5.0,Patzcuaro,Michoacan,Hotel

In [14]:
# Tamaño del df
print(f'Train-Dataset shape: {df_train.shape}')

# Informacion del df 
print('\n Train-Datset info:')
df_train.info()

Train-Dataset shape: (208051, 6)

 Train-Datset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208051 entries, 0 to 208050
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Title     208049 non-null  object
 1   Review    208051 non-null  object
 2   Polarity  208051 non-null  float64
 3   Town      208051 non-null  object
 4   Region    208051 non-null  object
 5   Type      208051 non-null  object
dtypes: float64(1), object(5)
memory usage: 9.5+ MB

In [ ]:
# Verificamos valores faltantes en cada columna
missing_values = df_train.isnull().sum()

# Calculamos el porcentaje de valores faltantes
missing_percentage = (missing_values / len(df_train)) * 100

# Creamos un df con ambos datos 
missing_info = pd.DataFrame({'Missing Count': missing_values, 'Missing Percentage': missing_percentage})

# Mostramso el df
missing_info.head()

          Missing Count  Missing Percentage
Title                 2            0.000961
Review                0            0.000000
Polarity              0            0.000000
Town                  0            0.000000
Region                0            0.000000

In [44]:
# Para identificar las columnas categoricas (se suelen guardar del tipo 'object' o 'category')
categorical_cols = df_train.select_dtypes(include=['object', 'category']).columns

# Imprime lo encontrado
print(f'Categorical columns found: {list(categorical_cols)}')

# No mostramos Review
categorical_cols = categorical_cols.drop(['Review'])

# Imprimimos los valores repetidos para cada columna
for col in categorical_cols:
    print(f'Value counts for {col}')
    print(df_train[col].value_counts())
    print('\n')

Categorical columns found: ['Title', 'Review', 'Town', 'Region', 'Type']
Value counts for Title
Title
Excelente                                                                 1747
Excelente servicio                                                         764
Excelente lugar                                                            723
Delicioso                                                                  649
Hermoso                                                                    518
                                                                          ...
Una estancia de una noche en el hotel Xibalba, alias construcción zona       1
Ocean suite ático piscina paraíso                                            1
Fantástico entorno, evitar la excursión Booth timo!                          1
Increíble lugar y comida                                                     1
Un Tepoz debe                                                                1
Name: count, Length: 142966, dtype: int64


Value counts for Town
Town
Tulum                         45345
Isla_Mujeres                  29826
San_Cristobal_de_las_Casas    13060
Valladolid                    11637
Bacalar                       10822
Palenque                       9512
Sayulita                       7337
Valle_de_Bravo                 5959
Teotihuacan                    5810
Loreto                         5525
TodosSantos                    4600
Patzcuaro                      4454
Taxco                          4201
Tlaquepaque                    4041
Ajijic                         3752
Tequisquiapan                  3627
Metepec                        3532
Tepoztlan                      3445
Cholula                        2790
Tequila                        2650
Orizaba                        2521
Izamal                         2041
Creel                          1786
Ixtapan_de_la_Sal              1696
Zacatlan                       1602
Huasca_de_Ocampo               1509
Mazunte                        1466
Xilitla                        1458
Atlixco                        1444
Malinalco                      1429
Bernal                         1252
Tepotzotlan                    1013
Cuetzalan                       996
Chiapa_de_Corzo                 960
Parras                          953
Dolores_Hidalgo                 909
Coatepec                        818
Cuatro_Cienegas                 788
Real_de_Catorce                 760
Tapalpa                         725
Name: count, dtype: int64


Value counts for Region
Region
QuintanaRoo           85993
Chiapas               23532
Estado_de_Mexico      19439
Yucatan               13678
Jalisco               11168
Baja_CaliforniaSur    10125
Nayarit                7337
Puebla                 6832
Queretaro              4879
Michoacan              4454
Guerrero               4201
Morelos                3445
Veracruz               3339
San_Luis_Potosi        2218
Chihuahua              1786
Coahuila               1741
Hidalgo                1509
Oaxaca                 1466
Guanajuato              909
Name: count, dtype: int64


Value counts for Type
Type
Restaurant    86720
Attractive    69921
Hotel         51410
Name: count, dtype: int64

In [32]:
# Calculamos estadistica descriptiva para la columna numerica
numerical_stats = df_train.describe()

# Imprimimos
print('Descriptive Statistics for Numerical Columns:')
print(numerical_stats)

Descriptive Statistics for Numerical Columns:
            Polarity
count  208051.000000
mean        4.450500
std         0.932237
min         1.000000
25%         4.000000
50%         5.000000
75%         5.000000
max         5.000000

### **Distribucion de las Etiquetas**